html { 
    background: url(../img/minecraft_bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%; 
	/*overflow: hidden; */
	}
body {
	background: transparent !important;
	height: 100%; 
	/*overflow: hidden; */
}
iframe { width: 100%; height: 100%; border: none; overflow: hidden; display:block; margin: 0 auto; }